<h2 class="ui center aligned small icon header">
  <i class="circular blue users icon"></i>
  Hello bro let's talk a bit
</h2>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-box">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: "ui reply form", role: 'form' },
                              url: message_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui action fluid mini input">
              <%= f.text_field :body %>
              <%= button_tag( :class => "ui blue icon button chatfield_button") do %>
                <i class="reply link icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical text menu">
          <a class="item">
            Closest
          </a>
          <a class="item">
            Most Comments
          </a>
          <a class="item">
            Most Popular
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

