<div class="ui tiny menu">
  <div class="ui container">
    <a class="active item">
      Chatroom
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item">English</a>
          <a class="item">Russian</a>
          <a class="item">Spanish</a>
        </div>
      </div>
      <div class="item">
        <%= link_to 'Login', login_path, class: 'ui primary button' %>
      </div>
    </div>
  </div>
</div>